<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="{{asset "/favicon.ico"}}">

    {{! Styles'n'Scripts }}
    <link rel="stylesheet" type="text/css" href="{{asset "css/minify/main.css"}}" />
    <link rel="stylesheet" type="text/css" href="//cdn.ice.gs/libs/highlight.js/8.9.1/styles/obsidian.min.css">
    
    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
</head>
<body class="{{body_class}}">
    <header class="header animated fadeInDown">
        <div class="header-content">
            {{#if @blog.logo}}<a class="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}" /></a>{{/if}}
            {{navigation}}      
        </div>
    </header>

    <div class="site-wrapper">

        {{! Everything else gets inserted here }}
        {{{body}}}

        <footer class="site-footer clearfix">
            <section class="copyright"><a href="{{@blog.url}}">{{@blog.title}}</a> &copy; {{date format="YYYY"}}</section>
            <section class="poweredby">Proudly published with JAVASCRIPT (Ghost), Theme <a href="https://github.com/ggice/icer" target="_blank">icer</a> Designed & Coded by <a href="http://ice.gs" target="_blank">GGICE</a> </section>
            
        </footer>

    </div>

    {{! The main JavaScript file for Casper }}
    <script src="//cdn.ice.gs/libs/highlight.js/8.9.1/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <script type="text/javascript" src="{{asset "js/minify/main.js"}}"></script>
    
    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}
</body>
</html>
